@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: local("Clash Display"),
    url("./fonts/ClashDisplay-Medium.ttf") format("truetype");
}
body {
  font-family: "Clash Display", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}
